@model LKP_Frontend_MVC.Models.Response.Common.ResponsePayLoad;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Group Mapping";
    var groupingList = Model.data as List<LKP_Frontend_MVC.Models.Response.GroupCNT.GroupCNTResponse>;
    var inputModel = Model.message as LKP_Frontend_MVC.Models.Request.GroupMapping.GroupFilterModel;
}
<head>
    <link rel="stylesheet" href="~/css/common.css" asp-append-version="true" />
</head>

<!-- Page Content Start-->
<div class="container-fluid page-content">
    <!-- Top Panel Start -->
    <div class="container">
        <div class="row py-2">
            <!-- 60% width on large screens (7.2 columns ≈ 7), full width on small -->
            <div class="col-12 col-lg-5 px-3 mb-2 align-middle">
                <h2>IVR Group Mapping</h2>
            </div>

            <!-- 20% width on large screens (2.4 columns ≈ 2), full width on small -->
            <div class="col-12 col-lg-3 d-flex justify-content-lg-end justify-content-md-start align-items-center text-white px-3 mb-2 panel-button">
                <form action="/" method="post">
                    <button type="submit"
                            class="btn btn-success my-1"
                            formaction="/Excel/ExportGroupMappingExcel"
                            formmethod="post">
                        <i class="bi bi-file-earmark-excel"></i> Export Excel
                    </button>
                    <a href="@Url.Action("Index", "GroupMapping")" class="btn btn-secondary">Clear</a>
                </form>
            </div>

            <!-- 20% width on large screens (2.4 columns ≈ 3), full width on small -->
            <div class="col-12 col-lg-4 d-flex align-items-center text-dark px-3 mb-2">
                <form id="filterForm" class="d-flex flex-row" action="/GroupMapping/Index" method="post">
                    <select id="filterField" name="filterField" class="form-select" style="width: 150px; max-height: 50px" required>
                        <option value="GroupCode">GroupCode</option>
                    </select>
                    <div class="input-group" style="min-width: 130px;">
                        <input 
                            type="text" 
                            id="filterValue" 
                            class="form-control mx-1"
                            value="@(inputModel?.GroupCode != "" ? inputModel.GroupCode: "")"
                            style="min-width:80px" 
                        />

                        <input type="hidden" id="dynamicInput" name="" value="" />
                        <button type="submit" class="btn btn-outline-primary p-2 modal-btn" style="min-width: 50px; height: 40px;">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Top Panel End -->
    <!-- Table Start -->
    <div class="table-wrapper border border-light mx-auto">
        @if (groupingList.Count >= 1)
        {
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>Group Code</th>
                        <th>Code</th>
                        <th>Name</th>
                        <th>CTCL Login ID</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in groupingList)
                    {
                        <tr>
                            <td>@item.Category</td>
                            <td>@item.GroupCode</td>
                            <td>@item.Code</td>
                            <td>@item.Name</td>
                            <td>@item.CTCLLoginID</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="no-records">
                <i class="bi bi-folder-x icon"></i>
                <h5>No Records Found</h5>
                <p>Try adjusting your filters or check back later.</p>
            </div>
        }
    </div>
    <!-- Table End-->
    <!-- Pagination Control Start -->
    @* @if (groupingList.Count >= 50) *@
    @* { *@
        <div class="m-1">
            <nav class="d-flex align-items-center position-relative" aria-label="...">
                <!-- Centered Pagination -->
                <div class="position-absolute start-50 translate-middle-x">
                    <ul class="pagination justify-content-center mb-0" style="max-width: fit-content;">
                        <li class="page-item @(inputModel?.Start <= 1 ? "disabled" : "")">
                            <a class="page-link"
                               href="@Url.Action("Index", new {
                               Start = inputModel.Start - 1,
                               PageSize = inputModel.PageSize,
                               GroupCode = inputModel.GroupCode})"
                            >
                                Previous
                            </a>
                        </li>
                        <li class="page-item" aria-current="page">
                            <a class="page-link">@inputModel.Start</a>
                        </li>
                        <li class="page-item @(groupingList.Count < 50 ? "disabled" : "")">
                            <a class="page-link"
                               href="@Url.Action("Index", new {
                               Start = inputModel.Start + 1,
                               PageSize = inputModel.PageSize,
                               GroupCode = inputModel.GroupCode})"
                            >
                                Next
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- Go to Page Form -->
                <form class="go-to ms-auto"
                      method="post"
                      action="@Url.Action("Index", new {
                           Start = inputModel.Start + 1,
                           PageSize = inputModel.PageSize,
                           GroupCode = inputModel.GroupCode})"
                >
                    <div class="input-group mb-3">
                        <button class="btn btn-outline-secondary btn-sm" type="submit">Go to Page:</button>
                        <input name="Start" value="@inputModel.Start" type="number" min="1" class="form-control-sm">
                    </div>
                </form>
            </nav>
        </div>
    @* } *@
    <!-- Pagination Control End -->

</div>
<!-- Page Content End-->

@section Scripts {
    <script src="~/js/common/filter.js"></script>
}
