@model LKP_Frontend_MVC.Models.Response.Common.ResponsePayLoad;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "CTCL Mapping";
    var ctclMappingList = Model.data as List<LKP_Frontend_MVC.Models.Response.CTCLMapping.CTCLMappingResponse>;
    var inputModel = Model.message as LKP_Frontend_MVC.Models.Request.CTCLMapping.CTCLMappingFilterModel;
}
<head>
    <link rel="stylesheet" href="~/css/common.css" asp-append-version="true" />
</head>
<style>
   
</style>
<!-- Page Content Start-->
<div class="container-fluid mx-0" style="max-width: 80vw; ">
    <!-- Top Panel Start -->
    <div class="container">
        <div class="row py-2">
            <!-- 60% width on large screens (7.2 columns ≈ 7), full width on small -->
            <div class="col-12 col-lg-6 px-3 mb-2 align-middle">
                <h2>CTCL Mapping</h2>
            </div>

            <!-- 20% width on large screens (2.4 columns ≈ 3), full width on small -->
            <div class="col-12 col-lg-6 d-flex justify-content-lg-end justify-content-md-start align-items-center align-items-center text-dark px-3 mb-2">
                <div class="pe-2">
                    <a href="@Url.Action("Index", "CTCLMapping")" class="btn btn-secondary">Clear</a>
                </div>
                <form id="filterForm" class="d-flex flex-row" action="/CTCLMapping/Index" method="post">
                    <select id="filterField" name="filterField" class="form-select" style="width: 150px; max-height: 50px" required>
                        <option value="Category" selected="@(inputModel?.Category != "" ? "selected" : null)">Category</option>
                        <option value="ClientCode" selected="@(inputModel?.ClientCode != "" ? "selected" : null)">Client Code</option>
                        <option value="PrimaryDealer" selected="@(inputModel?.PrimaryDealer != "" ? "selected" : null)">Primary Dealer</option>
                        <option value="SecondaryDealer" selected="@(inputModel?.SecondaryDealer != "" ? "selected" : null)">Secondary Dealer</option>
                        <option value="Zone" selected="@(inputModel?.Zone != "" ? "selected" : null)">Zone</option>
                    </select>
                    <div class="input-group" style="min-width: 130px;">
                        <input type="text" id="filterValue" class="form-control mx-1"
                                value="@(!string.IsNullOrEmpty(inputModel?.ClientCode) ? inputModel.ClientCode.Trim() :
                                !string.IsNullOrEmpty(inputModel?.PrimaryDealer) ? inputModel.PrimaryDealer.Trim() :
                                !string.IsNullOrEmpty(inputModel?.SecondaryDealer) ? inputModel.SecondaryDealer.Trim() :
                                !string.IsNullOrEmpty(inputModel?.Zone) ? inputModel.Zone.Trim() :
                                inputModel?.Category.Trim())"
                            style="min-width:80px" 
                        />

                        <input type="hidden" id="dynamicInput" name="" value="" />
                        <button type="submit" class="btn btn-outline-primary p-2 modal-btn" style="min-width: 50px; height: 40px;">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Top Panel End -->
    <!-- Table Start -->
    <div class="table-wrapper border border-light mx-auto">
        @if (ctclMappingList.Count >= 1)
        {
            <table class="table table-bordered" style="min-width: max-content;">
                <thead>
                    <tr>
                        <th>Client Code</th>
                        <th>Primary Dealer</th>
                        <th>Primary Dealer Name</th>
                        <th>Primary Dealer CTCL Login</th>
                        <th>Primary Dealer Work Status</th>
                        <th>Secondary Dealer</th>
                        <th>Secondary Dealer Name</th>
                        <th>Secondary Dealer CTCL Login</th>
                        <th>Secondary Dealer Work Status</th>
                        <th>Zone</th>
                        <th>Zone Dealer ID</th>
                        <th>Zone Dealer Name</th>
                        <th>Zone CTCL Login ID</th>
                        <th>Zone Work Status</th>
                        <th>Is HO CNT</th>
                        <th>HO Dealer ID</th>
                        <th>HO Dealer Name</th>
                        <th>HO CTCL Login</th>
                        <th>HO Work Status</th>
                        <th>Category</th>
                        <th>Flag</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ctclMappingList)
                    {
                        <tr>
                            <td>@item.Clientcode</td>
                            <td>@item.PrimaryDealer</td>
                            <td>@item.PrimaryDealerName</td>
                            <td>@item.PrimaryDealerCTCLLogin</td>
                            <td>@item.PrimaryDealerWorkStatus</td>
                            <td>@item.SecondaryDealer</td>
                            <td>@item.SecondaryDealerName</td>
                            <td>@item.SecondaryDealerCTCLLogin</td>
                            <td>@item.SecondaryDealerWorkStatus</td>
                            <td>@item.Zone</td>
                            <td>@item.ZoneDealerID</td>
                            <td>@item.ZoneDealerName</td>
                            <td>@item.ZoneCtclLoginID</td>
                            <td>@item.ZoneWorkStatus</td>
                            <td>@item.IsHOCNT</td>
                            <td>@item.HO_DealerID</td>
                            <td>@item.HO_DealerName</td>
                            <td>@item.HO_CTCLLogin</td>
                            <td>@item.HO_WorkStatus</td>
                            <td>@item.Category</td>
                            <td>@item.Flag</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="no-records">
                <i class="bi bi-folder-x icon"></i>
                <h5>No Records Found</h5>
                <p>Try adjusting your filters or check back later.</p>
            </div>
        }
    </div>
    <!-- Table End-->
    <!-- Pagination Control Start -->
    @if (ctclMappingList.Count >= 50)
    {
        <div class="m-2">
            <nav aria-label="..." class="">
                <ul class="pagination justify-content-center">
                    <li class="page-item @(inputModel?.Start <= 1 ? "disabled" : "")">
                        <a class="page-link"
                            href="@Url.Action("Index", new {
                            Start = inputModel.Start - 1,
                            PageSize = inputModel.PageSize,
                            ClientCode = inputModel.ClientCode,
                            Category = inputModel.Category,
                            PrimaryDealer = inputModel.PrimaryDealer,
                            SecondaryDealer = inputModel.SecondaryDealer,
                            Zone = inputModel.Zone
                        })">
                            Previous
                        </a>
                    </li>
                    <li class="page-item" aria-current="page">
                        <a class="page-link">@inputModel.Start</a>
                    </li>
                    <li class="page-item @(ctclMappingList.Count < 50 ? "disabled" : "")">
                        <a class="page-link"
                            href="@Url.Action("Index", new {
                            Start = inputModel.Start + 1,
                            PageSize = inputModel.PageSize,
                            ClientCode = inputModel.ClientCode,
                            Category = inputModel.Category,
                            PrimaryDealer = inputModel.PrimaryDealer,
                            SecondaryDealer = inputModel.SecondaryDealer,
                            Zone = inputModel.Zone
                        })">
                            Next
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    }
    <!-- Pagination Control End -->

</div>
<!-- Page Content End-->
@section Scripts {
    <script src="~/js/common/filter.js"></script> 
}